.widgetLg {
    flex: 2;
   box-shadow: 0px 0px 9px -1px #dbd7d7;
   padding: 20px;
}
.widgetLgTitle{
    font-size: 23px;
    font-weight: 600;
}

.widgetLgTable{
    width: 100%;
    border-spacing: 20px;
}
.widgetLgTh{
    text-align: left;
}
.widgetLgUser{
    display: flex;
    align-items: center;
    font-weight: 600;
}
.widgetLgDate,.widgetLgAmount{
    font-weight: 300;
   
}
.widgetLgimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}